<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Blog Details</h1>
  <br />
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>